.jimu-panel {
    width:515px;
}

.odc-request h3 {
  font-size: 1.2em;
}
.odc-request h3, p {
  margin-top: 0;
}
/* add additional custom styles */

.claro .dijitTabPaneWrapper {
  border-color: white;
}

.dijitTabContainerTop-tabs {
  border-bottom: none;
}

.claro .dijitSelect {
  background-color: white;
  height: 30px;
}

@-moz-document url-prefix() {
  .claro .dijitSelect {
    background-color: white;
    height: 30px;
    margin-top: -1.5em;
  }
}

.search-pane {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  margin-top: 5px;
}

.search-pane .item-card {
  float: left;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: width 0.1s ease;
  -moz-transition: width 0.1s ease;
  -o-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

.search-pane .item-card .item-card-inner {
  /*background: #eeeeee08;*/
  box-shadow: 1px 1px 2px 1px #e4e4e44f;
  /*border: 1px solid #e0e0e02e;*/
  border-bottom-color: #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-pane .item-card .thumbnail {
  float: left;
  margin-right: 10px;
}

.search-pane .item-card .thumbnail img {
  width: auto;
  height: 100%;
  max-height: 70px;
  object-fit: cover;
}

.search-pane .item-card div.info {
  color: #898989;
  font-size: 10px;
  overflow: hidden;
  padding-top: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.search-pane .item-card .action-bar {
  text-align: right;

}

.search-pane .item-card .item-card-inner:hover {
    background-color: #ebf7eb;
}

.item-card .action-bar a {
  color: #24B5CC;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  line-height: 20px;
}

/*  RequestForm Style  */

label.form_label {
    display: inline-block;
    width: 140px;
}

.odc-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1.5em 1em 4em 1em;
  justify-content: center;
}

.odc-form .form-input{
  width: 100%;
  height: auto;
  padding: 0 0 2em 0;
}

.odc-form .form-input label {
  padding: 5px 10px 5px 0;
}

.odc-form .form-input > :not(label){
  position: absolute;
  right: 0px;
}

.odc-form .form-input textarea {
  width: auto;
}

.odc-form .multi {
    height:75px;
}

.claro .dijitDialogTitleBar {
    background-color: #3f7e448c;
}


.claro .dijitTextBox {
  padding: 0px !important;
  height: 25px !important;
  line-height: 25px !important;
  font-size: 14px;
}

.claro .dijitButton .dijitButtonNode {
  margin-top: 1em;
  padding: 0.5em 0.5em;
  background-color: white;
  border: 1px solid #24B5CC;
  border-radius: 0;
  color: #24B5CC;
}

.claro .dijitButtonHover .dijitButtonNode {
  background-color: #24B5CC;
  color: white;
  background-image: none;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}

.claro .dijitButtonActive .dijitButtonNode {
  background-color: #24B5CC;
  color: white;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}

.dijitMultiSelect {
    font-family: inherit;
}

.dijitInputInner {
    font-family: inherit;
}

.dijitButton {
  padding-bottom: 1.5em;
}

.submitPane {
  padding: 1em;
}

.paneError {
  padding: 2em;
  text-align: center;
}

.paneError a {
  color: #24B5CC;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  line-height: 20px;
}

.paneError img{
  width: 20%;
}

.claro .dijitProgressBarTile {
  background-color: #24B5CC;
  color: white;
  background-image: none;
}

.claro .dijitProgressBarEmpty {
  border: 1px solid #24B5CC !important;
}

.claro .dijitTooltipContainer.dijitTooltipContents {
    padding-right: 20px;
    max-width: 50%;
    text-align: center;
}